/*------------------------------------------------------------------------------
    Framework Styles
------------------------------------------------------------------------------*/

#rm-framework {
	min-width: 800px;
	max-width: 1200px;
	background: #fff;
	border: 1px solid #dfdfdf;
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 15px 15px 5px 5px;
    -moz-border-radius: 15px 15px 5px 5px;
    -webkit-border-radius: 15px 15px 5px 5px;
	margin: 15px 18px 15px 5px;
}

#rm-framework-messages {
	min-width: 792px;
	max-width: 1200px;
    margin:15px 25px 0 5px;
}

#rm-framework-messages .updated,
#rm-framework-messages .error {
	width: 99%;
	margin-left: 0;
	margin-right: 0;
}

#rm-framework .header {
	padding:20px;
    color:#fff;
    background:#333;
    border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    margin:-1px;
}

#rm-framework .rm-logo { float: right; }

#rm-framework .rm-logo:hover img { opacity: .8; }

#rm-framework .header .theme-name {
	background: url(../images/title.png) no-repeat;
	font-size: 23px;
	font-weight: normal;
	margin:0 5px 0 0;
	line-height:35px;
	display: inline-block;
	text-indent: -9999px;

	height: 38px;
	width: 180px;
}

#rm-framework .header .theme-version {
	font-size: 12px;
	color:#888;
}

#rm-framework .header .theme-links {
	margin:10px 0 0 0;
	padding:0;
}

#rm-framework .header .theme-links li {
	display: inline;
	margin-right: 15px;
}

#rm-framework .header .theme-links li a {
	color:#888;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	padding-left: 16px;
	background:url(../images/icons.png) no-repeat;
	display: inline-block;
	line-height: 18px;
}

#rm-framework .header .theme-links li a:hover { color:#fff; }
#rm-framework .header .theme-links li a.changelog { background-position: 0 1px; }
#rm-framework .header .theme-links li a.themes { padding-left: 20px; background-position: -535px 1px; }
#rm-framework .header .theme-links li a.docs { background-position: -200px 1px; }
#rm-framework .header .theme-links li a.forums { padding-left: 20px; background-position: -400px 1px; }
#rm-framework .header .theme-links li a.changelog:hover { background-position: 0 -19px; }
#rm-framework .header .theme-links li a.themes:hover { background-position: -535px -19px; }
#rm-framework .header .theme-links li a.docs:hover { background-position: -200px -19px; }
#rm-framework .header .theme-links li a.forums:hover { padding-left: 20px; background-position: -400px -19px; }

#rm-framework .header .theme-logo { float: right; }

#rm-framework .main {
	background:#f8f8f8;
	position: relative;
}

#rm-framework .nav {
	position: absolute;
	top: 0;
	left: 0;
	width:180px;
	padding:0;
	margin:0;
}

#rm-framework .nav ul { margin:0; }

#rm-framework .nav li { margin:0; }

#rm-framework .nav li a {
	display:block;
	font-size: 12px;
	padding:10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #dfdfdf;
	color:#888;
	text-decoration:none;
	text-shadow: 0 1px 0 #fff;
}

#rm-framework .nav li a:hover {
	background:#fff;
	color:#D54E21;
}

#rm-framework .nav li a.active {
	background:#fff;
	width:161px; /* Peak out by 1px to hide the .content border */
	position:relative;
	z-index:9;
	color:#333;
}

#rm-framework .content {
	margin-left:180px;
	padding:30px;
	background:#fff;
	border-left:1px solid #dfdfdf;
	min-height:250px;
    -webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

#rm-framework .footer {
	border-top:1px solid #dfdfdf;
	padding:10px 15px;
	background: #f8f8f8;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top, #f8f8f8 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%,#f5f5f5 100%);
	background: linear-gradient(top, #f8f8f8 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f5f5f5',GradientType=0 );
	border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
}

#rm-framework #save-button { float:right; }

#rm-framework h2 {
    font-size:18px;
    color: #333;
    font-weight: bold;
    margin:0;
    padding:0 0 10px 0;
}

#rm-framework .page {
    margin:0 0 15px 0;
    display:none;
}

#rm-framework .page-desc {
    margin:0;
    font-size: 14px;
    color:#555;
    line-height: 23px;
}

#rm-framework .section {
    padding:18px 0 0 0;
    margin:18px 0 0 0;
    border-top:1px solid #f0f0f0;
}

#rm-framework .section h3 {
    font-size:14px;
    font-weight: bold;
    color: #333;
    margin:0 0 8px 0;
}

#rm-framework .section .input {
    float:right;
    width:48%;
}

#rm-framework .section .input input,
#rm-framework .section .input textarea,
#rm-framework .section .input select {
    width:98%;
    margin:0;
    border-color: #d2d2d2;
}

#rm-framework .section .input select.shorter {margin-right: 6px; width: auto;}

#rm-framework .section .input input[type="text"],
#rm-framework .section .input textarea,
#rm-framework .section .input select { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset, -3px -3px 0 0 #FAFAFA, 3px 3px 0 0 #FAFAFA, 3px 0 0 0 #FAFAFA, 0 3px 0 0 #FAFAFA, 3px -3px 0 0 #FAFAFA, -3px 3px 0 0 #FAFAFA; }
#rm-framework .section .input input[type="text"] {width: 91.92%;}

#rm-framework .section .input input[type="text"]:focus,
#rm-framework .section .input textarea:focus,
#rm-framework .section .input select:focus {
	border-color: #bbb;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset, -3px -3px 0 0 #f6f6f6, 3px 3px 0 0 #f6f6f6, 3px 0 0 0 #f6f6f6, 0 3px 0 0 #f6f6f6, 3px -3px 0 0 #f6f6f6, -3px 3px 0 0 #f6f6f6;
}

#rm-framework .section .input textarea { height:150px; }

#rm-framework .section .desc {
    float:left;
    width:48%;
    font-size:12px;
    color:#999;
}

#rm-framework .input.checkbox { background: transparent; }

#rm-framework .input.checkbox input,
#rm-framework .input.multi-checkbox input,
#rm-framework .input.radio input { width:auto; }

#rm-framework .input.radio input { vertical-align:-2px; }

#rm-framework .ajax-uploaded {
    margin-bottom:10px;
    font-family:Consolas,Monaco,Courier,monospace;
}

#rm-framework .ajax-uploaded img { max-width:270px; }

#rm-framework .colorpicker-wrapper,
.rm-metabox-table .colorpicker-wrapper { position: relative; }

#rm-framework .colorpicker,
.rm-metabox-table .colorpicker {
	position: absolute;
	top:30px;
	left:0px;
	z-index: 999;
	background: #eee;
	border: 1px solid #ccc;
}

#rm-framework .section .colorpicker-wrapper input,
.rm-metabox-table .colorpicker-wrapper input { width:195px; }

#rm-debug { margin:0 0 15px 15px; }

#rm-debug textarea {
    width:800px;
    height:400px;
}

.rm-metabox-table tr { border-top: 1px solid #eee; }

.rm-metabox-table th { width: 25%; }

.rm-metabox-table label span {
	line-height: 20px; 
	display: block; 
	color: #999; 
	margin: 5px 0 0 0;
}

.rm-metabox-table input,
.rm-metabox-table textarea {
	width: 100%; 
	margin-right: 20px; 
	float: left;
}

.rm-metabox-table input.file { width: 85%; }

.rm-metabox-table input.button {
	width: auto; 
	margin-right: 0;
}

.rm-metabox-table input.radio {
	width: auto; 
	margin-right: 3px;
	float: none;
}

.rm-metabox-table .radio-label { margin-right: 10px; }

/*------------------------------------------------------------------------------
    Custom Layout Radio Buttons
------------------------------------------------------------------------------*/
#rm-framework .main-layout label, #rm-framework .footer-layout label {
	display: inline-block;
    width: 45px;
	height: 36px;
	margin:0 0 5px 5px;
	text-indent: -99999px;
	border:3px solid #fff;
}
#rm-framework .main-layout .layout-2cr {background: url(../images/2cr.png) no-repeat;}
#rm-framework .main-layout .layout-2cl {background: url(../images/2cl.png) no-repeat;}
#rm-framework .main-layout .layout-full {background: url(../images/full.png) no-repeat;}

#rm-framework .footer-layout .footer-full {background: url(../images/footer-full.png) no-repeat;}
#rm-framework .footer-layout .footer-2c {background: url(../images/footer-2c.png) no-repeat;}
#rm-framework .footer-layout .footer-3c {background: url(../images/footer-3c.png) no-repeat;}
#rm-framework .footer-layout .footer-4c {background: url(../images/footer-4c.png) no-repeat;}

#rm-framework .main-layout label.checked, #rm-framework .footer-layout label.checked { border:3px solid #ccc; }

/*------------------------------------------------------------------------------
    Background Styles
------------------------------------------------------------------------------*/
#rm-framework .section .input input.upload_image {
	float: left;
	width: 65%;
	margin-right: 6px;
	margin-bottom: 6px;
}

#rm-framework .section .input input.upload_image_button {
	float: left;
	width: 25%;
	height: 23px;
}

/*------------------------------------------------------------------------------
    Main Heading Typography Styles
------------------------------------------------------------------------------*/
#rm-framework .main-heading-typography select:first-child {display: none;}

/*------------------------------------------------------------------------------
    Update Styles
------------------------------------------------------------------------------*/
#rm-update-theme .newer { color:#0F8F08; }
#rm-update-theme .rm-error { color:#AF0000; }

/*------------------------------------------------------------------------------
    Disabled styles
-------------------------------------------------------------------------------*/

#rm-framework .section.disabled h3,
#rm-framework .section.disabled,
#rm-framework .section.disabled .desc,
#rm-framework .disabled a,
#rm-framework .disabled a:hover {
    color: #e1e1e1 !important;
    cursor: default !important;
    display: none;
}

#rm-framework .disabled img { opacity: .2; }

/*------------------------------------------------------------------------------
    Misc Styles
------------------------------------------------------------------------------*/
.rm-clear { clear:both; }

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */